body{
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#tekst{
    font-style:oblique ;
}
button{
    background-color: darkcyan;
    border-width: 5px;
    border-color: darkcyan;
    font-size: large;
}
button:hover{
    background-color: aquamarine;
    border-width: 5px;
    border-color: darkcyan;
    font-size: large;
}
